body { font-family: Arial; margin: 0; padding: 0; display: flex; flex-direction: column; align-items: center;}
#container { display: flex; width: 95%; margin-top: 20px; }
#map { height: 500px; flex: 1; margin-right: 20px; }
#chart { height: 500px; flex: 1; }
h2 { text-align: center; margin-top: 20px; }
