services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - "8001:8001"
    volumes:
      - ./backend:/app/backend
      - ./data:/app/data
    env_file:
      - backend/configs/.env  # <--- TRÈS IMPORTANT : C'est ici que Docker va lire ta variable 'mongo'
    depends_on:
      - redis # <--- On attend que Redis soit prêt avant de lancer le backend

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./fontend:/app/frontend

  redis:
    image: redis:alpine
    container_name: redis_cache
    restart: always
    ports:
      - "6379:6379"
