name: CI

on:
  push:
    branches:
      - main
      - develop
      - feature/**
      - bugfix/**
  pull_request:
    branches:
      - main
      - develop

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry

      - name: Debug project root
        run: |
          pwd
          ls -la

      - name: Install dependencies
        # Ajout du dossier de travail pour que Poetry trouve pyproject.toml
        working-directory: ./backend
        run: poetry install --no-root

      - name: Lint & Format Check
        # Suppression du "cd backend" car working-directory le fait déjà
        working-directory: ./backend
        run: |
          poetry run isort . --check-only
          poetry run black . --check

      - name: Run tests
        # Ajout du dossier de travail ici aussi
        working-directory: ./backend
        run: poetry run pytest -v