name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry

      - name: Debug project root
        run: |
          pwd
          ls -la

      - name: Install dependencies
        run: poetry install --no-root

      - name: Lint & Format Check
        run: |
          cd backend
          poetry run isort . 
          poetry run black . 

      - name: Run tests
        run: poetry run pytest -v
